{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="[home]" class="home-section">
		<div class="overlay">
            <div class="home">
			<h1 class="home-intro">
				<strong class="text-center">Discover Foodium</strong>
            </h1>
            <p>For Your Special Day</p>
            <p>Exceptional Catering Services</p>
          <p> <a class="btn btn_primary btn-lg" href="{% url 'meals' %}">View Menu</a></p>
            </div>
		</div>
	</section>



{% endblock %}