/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--roboto);
  letter-spacing: 1px;
  word-spacing: 1px;
}

main {
  flex: 1 0 auto;
}

/* --------------------------------------Global variables */
:root {
    --primary-color:#0B0E13;
    --secondary-color: #B48C80;
    --white: #ffffff;
    --roboto-slab: 'Roboto Slab', serif;
    --roboto: 'Roboto', sans-serif;
    --satisfy: 'Satisfy', cursive;
}

/* Global class */
.primary_color {
    background-color: var(--primary-color);
}

.secondary_color {
    color: var(--secondary-color);
}

.white {
    color: var(--white);
}

/* --------------------------------Navigation bar */
.navbar {
    border-bottom: 2px solid var(--secondary-color);
}

.navbar-nav .nav-item a {
    color: var(--white) !important;
    font-size: 1.2rem;
    font-family: var(--roboto-slab);
}

.navbar-nav .nav-item a:hover {
    color: var(--secondary-color) !important;
}

.foodium_logo {
    width: 8.5rem;
    height: 8.5rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
}

.navbar-toggler {
   color: var(--white) !important;   
}

nav form {
    margin-left: 25%;
    background-color: var(--secondary-color);
}

.fa-search {
    color: white;
}

.my_account {
    margin-left: -5rem;
    background-color: var(--primary-color);
     border-bottom: 1px solid var(--secondary-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
}

.dropdown-item:hover{
    background-color: var(--primary-color);
}

.header-container {
    margin-top: 9rem;
}

.fas {
    margin-right: .4rem;
}

/*-------------------------------------- Home page  */

.home-section {
  position: relative;
  background-image: url("../img/foodium_discover.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
}

h1 {
  font-family: var(--satisfy);
  letter-spacing: 5px;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 20%;
  z-index: 1;
}

.home-section p {
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
}

/* ------------------------------------------------buttons */

.btn_primary {
    background: var(--secondary-color);
    color: white;
}

.btn_primary:hover,
.btn_primary:active,
.btn_primary:focus {
    background: var(--primary-color);
    color: white;
}

.btn_outline_primary {
    background: white;
    color: var(--secondary-color)!important; 
    border: 1px solid var(--secondary-color);
}

.btn_outline_primary:hover,
.btn_outline_primary:active,
.btn_outline_primary:focus {
    background: white;
    color: var(--primary-color)!important; 
    border: 1px solid var(--primary-color);
}

/*-------------------------------------- Card to display meals */
.meal_image {
    height: 15rem;
    overflow: hidden;
}

.meal_image a img,
.meal_detail_image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.meal_detail_image {
    height: 25rem;
    overflow: hidden;
}


.meal_card {
    box-shadow: 1px 1px 1px 1px #888888;
    text-transform: capitalize;
}

.meal_card:hover {
    box-shadow: 2px 2px 2px 2px #888888;
}
.fa-star {
    color: green;
}

.update-link,
.remove-item {
    cursor: pointer;
}



/* -------------------FAQ */

.card {
    width: 100%;
    padding: 0 .4rem;
    border: 0;
    color: #000;
    margin: .8rem;
}

.card-header {
    background-color: rgba(11, 14, 19, 0.1);
}

.card-body {
    background-color: rgba(180, 140, 128, 0.103);
    font-size: 1.2rem;
}

.card .card-header h2 button {
    
  outline-offset: -4px;
  padding: 0;
  border: none;
  outline: none;
  color: var(--primary-color);
  background: none;
  font-size: 1.5rem !important;
}

/* ---------------------------About us */


.about_us_section {

  position: relative;
  background-image: url("../img/foodium_interior.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
  margin-top: -5rem;
}

.about_page_picture {
    width: 100%;
    height: 700px;
}

.pages  a {
    font-size: 1.5rem;
    font-family: var(--roboto-slab);
    text-decoration: none;
    display: block;
    align-items: center;
}

.pages   {
    font-size: 1.5rem;
    font-family: var(--roboto-slab);
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.pages  a:hover{
    color: var(--secondary-color);
}

/* About page */

.about_page_text {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

/*------------------------------------------ Footer */

footer{
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: #ffffff;  
    border-top: 2px solid var(--secondary-color);  
}

footer a {
  display: inline-block;
  font-size: 2rem;
  color: #ffffff;
  margin: .4rem .8rem;
  text-decoration: none;
}

footer a:hover {
  color: var(--secondary-color);
}


footer ul li{
  display:inline-block;
  border: 1px solid #ffffff;
  padding: .1rem;
  border-radius: 40%;
 }

 footer ul li:hover{
  border: 1px solid var(--secondary-color);
 }

hr {
    background-color: var(--secondary-color);
    font-weight: lighter;
}

.modal {
    margin-top: 20%;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 92px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*---------------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* For all devices with screen size 991px and below */
@media only screen and (max-width: 1112px) {

 nav form {
    margin-left: 5%;
    background-color: var(--secondary-color);
}
}

/* For all devices with screen size 991px and below */
@media only screen and (max-width: 991px) {

h1 {
    margin-top: 25%;
} 

.my_account {
    margin-left: 0;  
}

nav form {
    width: 100%;
    margin-left: 0;
}


.navbar-nav .nav-item a {
    font-size: 1rem;
}

 .social-icons {
     text-align: center;
 }

.pages   {
    justify-content: center;
}

  .btn_outline_primary.roundeed-0,
    .btn.btn_primary.rounded-0 {
        padding: .375rem .375rem;
    } 


    .btn.btn_outline_primary.rounded-0.btn-lg,
    .btn.btn_primary.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    } 

    .increase-qty, .decrease-qty {
        padding: .25rem .5rem !important;
    }

}

/* For all devices with screen size 991px and below */
@media only screen and (max-width: 768px) {

    h1 {
        font-size: 2.5rem;
        margin-top: 50%;
    }

    body {
        font-size: ;
    }
}

/* For small devices  */
@media only screen and (max-width: 400px) {

    h1 {
        /* padding-top: 40%; */
        font-size: 2.5rem;
        margin-top: 50%;
    }

    .modal {
    margin-top: 35%;
}

} 

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Meal Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}