/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Global variables */
:root {
    --primary-color:#0B0E13;
    --secondary-color: #B48C80;
    --white: #ffffff;
    --roboto-slab: 'Roboto Slab', serif;
    --roboto: 'Roboto', sans-serif;
}

/* Global class */
.primary_color {
    background-color: var(--primary-color);
}

.white {
    color: var(--white);
}

.navbar {
    border-bottom: 2px solid var(--secondary-color);
}

.navbar .navbar-brand {
    font-size: 2rem;
    color: var(--white);
    font-family: var(--roboto);
} 

.navbar-nav .nav-item a {
    color: var(--white) !important;
}

.foodium_logo {
    width: 9.5rem;
    height: 9.5rem;
    margin-top: -2rem;
    margin-bottom: -2rem;

}

.navbar-toggler {
   color: var(--white) !important;   
}

nav form {
    margin-left: 30%;
    background-color: var(--secondary-color);
}

.fa-search {
    color: white;
}

.my_account {
    margin-left: -5rem;
    background-color: var(--primary-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
}

.carousel-caption h5{
    padding-top: 20% !important;
}

.carousel-item {
    height: 90vh;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-control-next i, 
.carousel-control-prev i {
    font-size: 2rem;
    color: var(--primary-color);
    background-color: #ffffff;
    border-radius: 100%;
    padding: .5rem;
}

.carousel-item h5 {
    margin-top: 20rem;
}


/* Card to display meals */
.meal_image {
    height: 15rem;
    overflow: hidden;
}

.meal_image a img,
.meal_detail_image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.meal_detail_image {
    height: 25rem;
    overflow: hidden;
}

.fa-star {
    color: green;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Footer */

footer{
    background-color: var(--primary-color);
    color: #ffffff;  
    border-top: 2px solid var(--secondary-color);    
}

footer a {
  display: inline-block;
  font-size: 2rem;
  color: #ffffff;
  margin: .4rem .8rem;
  text-decoration: none;
}

footer ul{
  justify-content:space-between; 
}

footer ul li{
  display:inline-block;
  border: 1px solid #ffffff;
  padding: .1rem;
  border-radius: 40%;
 }

hr {
    background-color: #ffffff;
    font-weight: lighter;
}

/* Media Queries */

/* For all devices with screen size 991px and below */
@media only screen and (max-width: 991px) {

.my_account {
    margin-left: 0;  
}

nav form {
    width: 100%;
    margin-left: 0;
}

}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}
