/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Global variables */
:root {
    --primary-color:#0B0E13;
    --secondary-color: #B48C80;
    --white: #ffffff;
    --roboto-slab: 'Roboto Slab', serif;
    --roboto: 'Roboto', sans-serif;
}

/* Global class */
.primary_color {
    background-color: var(--primary-color);
}

.white {
    color: var(--white);
}

.navbar {
    border-bottom: 2px solid var(--secondary-color);
}

.navbar .navbar-brand {
    font-size: 2rem;
    color: var(--white);
    font-family: var(--roboto);
} 

.navbar-nav .nav-item a {
    color: var(--white) !important;
}


.navbar-toggler {
   color: var(--white) !important;   
}

nav form {
    margin-left: 30%;
    background-color: var(--secondary-color);
}

.fa-search {
    color: white;
}

.my_account {
    margin-left: -5rem;
    background-color: var(--primary-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
}

.carousel-caption h5{
    padding-top: 20% !important;
}

.carousel-item {
    height: 30rem;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-control-next i, 
.carousel-control-prev i {
    font-size: 2rem;
    color: var(--primary-color);
    background-color: #ffffff;
    border-radius: 100%;
    padding: .5rem;
}

.carousel-item h5 {
    margin-top: 20rem;
}


/* Card to display meals */
.meal_image {
    height: 15rem;
    overflow: hidden;
}

.meal_image a img,
.meal_detail_image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.meal_detail_image {
    height: 25rem;
    overflow: hidden;
}

.fa-star {
    color: green;
}

.update-link,
.remove-item {
    cursor: pointer;
}