{% load static %}

<div class="container">
    <div class="row">
        <div class="col text-center"> 
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="foodium_logo" src="{% static 'img/foodium_logo.png' %}" alt="foodium_logo">
            </a>
           <p>NYGARNYGARDTERRASERNE 253 E</p>
           <p><span class="secondary_color">RESERVATION NUMBER:</span> 31884865</p>
           <p class="secondary_color">WORKING HOURS:</p>
           <p> FRI: 08:00 AM - 10:00 PM</p>
           <p>SAT - SUN: 10:00 AM - 11:00 PM</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-sm-12">
            <ul>
                <li><a href="https://www.facebook.com/cypriot.man" target="_blank"><i
                            class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://www.linkedin.com/in/takafor-anutatu-7783b819b/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://github.com/Takaforyannick30" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/yannickvasilia/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="col-12 col-lg-6 col-sm-12">
        <div class="pages">
        <a href="{% url 'about_us' %}">About Us</a>
        <a href="{% url 'contact'%}">Contact Us</a>
        <a href="{% url 'faq' %}">FAQ</a>
        </div>
        </div>
    </div>
</div>
 <hr>
    <div class="row">
        <div class="col">
            <!-- Copyright -->
            <p class="copyright text-center">FOODIUM&copy;2020. All Rights Reserved</p>
        </div>
    </div>