{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>All meals </h2>
<div class="container">
    <div class="row">
        {% for meal in meals %}
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card mb-4">
                <div class="meal_image">
                    {% if meal.image %}
                    <a href="{% url 'meal_detail' meal.id %}">
                        <img class="" src="{{ meal.image.url }}" alt="{{ meal.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'meal_detail' meal.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ meal.name }}">
                    </a>
                    {% endif %}
                </div>
                <div class="card-footer ">
                    <p class="font-weight-bold mb-0"> {{ meal.name }}</p>
                    <h5 class="text-info font-italic mb-0">
                        <span>$</span> {{ meal.price }}
                    </h5>
                    <p class="mb-0">{{ meal.category }}</p>
                </div>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_meal' meal.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_meal' meal.id %}">Delete</a>
                    </small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}