{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row ">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-6 pb-5">

            <h2 class="page-heading mb-5 text-center">Frequently Asked Questions</h2>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                What is Foodium ?
                            </button>

                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Foodium is fictional a restaurant based in Copenhagen. In reality this restaurant does not exist, so please have that in mind while browsing our site.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Does Foodium do delivery?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Yes! We do delivery to all locations within Copenhagen for a fixed price of DKK 39.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Is it possible to cancel an order?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                           Unfortunately it is not possible to cancel an order after it has been placed.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class=" collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            Is it safe to use my credit card on this site?
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Foodium is a fictional restaurant based in Copenhagen and as such it is not advisable to use your credit card details on this site even though you won't be charge. This website is a school project and you are welcome to test the site with card number: 4242 4242 4242 4242 , expiry date: any date in the future, zipcode: any. </p>
                    </div>
                </div>
            </div>
            <p class="text-center">Do you still have more questions? If yes then please <a href="{% url 'contact' %}">Contact Us</a></p>
        </div>
  

    </div>
</div>

{% endblock %}
