{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page_heading text-center mt-5">Thank you!</h2>
                <p class="text-center">We will review your message and get back to you within 24hrs.</p>
            </div>
        </div>
    </div>

{% endblock %}